body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #222;
    color: #fff;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

/* Style <article> and <aside> */
article {
    flex: 2;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header .logo {
    font-size: 36px;
    color: #ff0000;
}